@media (max-width: 768px) {
    
    /*VARIABLES*/

    $color-primary: #9356DC;
    $color-secondary: #FF79DA;
    $color-tertiary: #99E2D0;
    $color-background: #F6F6F6;
    $color-bg-footer-loader: #353535;
    $color-btn-bg-primary: lighten($color-primary, 5%);
    $color-btn-bg-secondary: lighten($color-secondary, 5%);

    /*GENERAL SETTINGS*/

*{
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
    display: block;
}
body, input, button, header{
	font-family: 'Roboto', sans-serif;
	font-size: 1em;
	line-height: 1.8;
	margin: 0;
}
h1, h2, h4{
	font-family: 'Shrikhand', sans-serif;
}
}
