@media (max-width: 768px) {

    /*GENERAL SETTINGS*/

*{
    box-sizing: border-box;
    list-style-type: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 15px;
    scroll-behavior: smooth;
}
}
